* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--clr-black);
  font-family: 'Rubik', sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--clr-gray);
}

.header {
  padding-block: 1rem;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
}

.link {
  text-decoration: none;
}

.main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
